<% if logged_in? %>
  <h1>Edit Article</h1>
  <h4><%= current_user.username %></h4>
  <br>
  <%= form_with model:@article, method: 'patch' do |f| %>
    <%= label(:article, :title) %>
    <br>
    <%= f.text_field :title, size: "50" %>
    <br><br>
    <%= label(:article, :text) %>
    <br>
    <%= f.text_area :text, size: "50x10" %>
    <br><br>
    <%= label(:article, :image) %>
    <%= f.file_field :image %>
    <br>
    <%= f.submit "Update Article" %>
  <% end %>
<% else %>
  <h1>You have to Login first!</h1>
  <%= button_to "Sign Up", '/users/new', method: :get %>
  <%= button_to "Login", '/login', method: :get %>
<% end %>
<br>
<%= button_to "Home", '/', method: :get %>
