<div class="main-article" style="background-image: url(<%= rails_blob_url(@articles.first.image) %>)">
  <h1><%= link_to "#{@articles.first.title}", article_path(@articles.first.id) %></h1>
  <p><%= link_to "#{@articles.first.text.truncate(250, separator: ' ')}", article_path(@articles.first.id) %></p>
</div>
<div class="cat-row">
  <div class="cat-row-item" style="background-image: url(<%= rails_blob_url(@art_arr1[-1].image) %>)">
    <h2><%= link_to "#{@art_arr1[-1].category.name}", article_path(@art_arr1[-1].id) %></h2>
    <h3><%= link_to "#{@art_arr1[-1].title}", article_path(@art_arr1[-1].id) %></h3>
  </div>
  <div class="cat-row-item" style="background-image: url(<%= rails_blob_url(@art_arr2[-1].image) %>)">
    <h2><%= link_to "#{@art_arr2[-1].category.name}", article_path(@art_arr2[-1].id) %></h2>
    <h3><%= link_to "#{@art_arr2[-1].title}", article_path(@art_arr2[-1].id) %></h3>
  </div>
  <div class="cat-row-item" style="background-image: url(<%= rails_blob_url(@art_arr3[-1].image) %>)">
    <h2><%= link_to "#{@art_arr3[-1].category.name}", article_path(@art_arr3[-1].id) %></h2>
    <h3><%= link_to "#{@art_arr3[-1].title}", article_path(@art_arr3[-1].id) %></h3>
  </div>
  <div class="cat-row-item" style="background-image: url(<%= rails_blob_url(@art_arr4[-1].image) %>)">
    <h2><%= link_to "#{@art_arr4[-1].category.name}", article_path(@art_arr4[-1].id) %></h2>
    <h3><%= link_to "#{@art_arr4[-1].title}", article_path(@art_arr4[-1].id) %></h3>
  </div>
  <div class="cat-row-item" style="background-image: url(<%= rails_blob_url(@art_arr5[-1].image) %>)">
    <h2><%= link_to "#{@art_arr5[-1].category.name}", article_path(@art_arr5[-1].id) %></h2>
    <h3><%= link_to "#{@art_arr5[-1].title}", article_path(@art_arr5[-1].id) %></h3>
  </div>
  <div class="cat-row-item" style="background-image: url(<%= rails_blob_url(@art_arr6[-1].image) %>)">
    <h2><%= link_to "#{@art_arr6[-1].category.name}", article_path(@art_arr6[-1].id) %></h2>
    <h3><%= link_to "#{@art_arr6[-1].title}", article_path(@art_arr6[-1].id) %></h3>
  </div>
</div>

<% Category.all.each do |category| %>
  <h3><%= category.name %> Category</h3>
  <% @articles.each do |a| %>
    <% if category.name == a.category.name %>
    <br>
    <h5><%= link_to "#{a.title}", article_path(a.id) %></h5>
    <p>by <%= a.author.username %></p>
    <% end %>
  <% end %>
<% end %>
<% if logged_in? %>
  <h2><%= current_user.username %>' Articles</h2>
  <br>
  <% current_user.articles.each do |a| %>
    <h5><%= link_to "#{a.title}", article_path(a.id) %></h5>
    <p>by <%= a.author.username %></p>
  <% end %>
  <br>
  <%= button_to "User", '/welcome', method: :get %>
<% end %>
<br>
<%= button_to "Home", '/', method: :get %>
