<% if logged_in? %>
  <h1>New Article</h1>

  <%= form_with model:@article, method: 'post' do |f| %>
    <%= label(:article, :title) %>
    <%= f.text_field :title, size: "50" %>
    <%= label(:article, :text) %>
    <%= f.text_area :text, size: "50x10" %>
    <%= f.submit "Create Article" %>
  <% end %>
<% else %>
  <h1>You have to Login first!</h1>
  <%= button_to "Sign Up", '/users/new', method: :get %>
  <%= button_to "Login", '/login', method: :get %>
<% end %>
<%= button_to "Home", '/', method: :get %>
