<% if logged_in? %>
  <% if current_user == @article.author %>
    <h1><%= current_user.username %>'s Article</h1>
    <br>
    <h3><%= @article.category.name %> Category</h3>
    <br>
    <%= image_tag @article.image.variant(resize: '300x300') %>
    <br><br>
    <h4><%= @article.title %></h4>
    <%= @article.text %>
    <br><br>

    <%= link_to like_article_path(@article), class: "like", method: :put do %>
      <button type="button" class="btn btn-info" aria-label="Left Align">
        <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
        <span class="badge"><%= @article.get_upvotes.size %></span>
      </button>
    <% end %>

    <%= link_to unlike_article_path(@article), class: "like", method: :put do %>
      <button type="button" class="btn btn-info" aria-label="Left Align">
        <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
        <span class="badge"><%= @article.get_downvotes.size %></span>
      </button>
    <% end %>
    <br><br>
    <%= button_to "Edit Article", edit_article_path(@article.id), method: :get %><br>
    <%= button_to "Delete Article", "/articles/#{@article.id}", method: :delete, data: { confirm: "Are you sure?" } %>
  <% else %>
    <h1><%= @article.author.username %>'s Article</h1>
    <br>
    <%= image_tag @article.image.variant(resize: '300x300') %>
    <br><br>
    <h4><%= @article.title %></h4>
    <%= @article.text %>
    <br><br>

    <%= link_to like_article_path(@article), class: "like", method: :put do %>
      <button type="button" class="btn btn-info" aria-label="Left Align">
        <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
        <span class="badge"><%= @article.get_upvotes.size %></span>
      </button>
    <% end %>

    <%= link_to unlike_article_path(@article), class: "like", method: :put do %>
      <button type="button" class="btn btn-info" aria-label="Left Align">
        <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
        <span class="badge"><%= @article.get_downvotes.size %></span>
      </button>
      <br>
    <% end %>
  <% end %>
<% else %>
  <h1><%= @article.author.username %>'s Article</h1>
  <br>
  <%= image_tag @article.image.variant(resize: '300x300') %>
  <br><br>
  <h4><%= @article.title %></h4>
  <%= @article.text %>
  <br>
<% end %>
<br>
<%= button_to "Home", '/', method: :get %>
