<% if logged_in? %>
  <% if current_user == @article.author %>
    <h1><%= current_user.username %>'s Article</h1><br>
    <h4><%= @article.title %></h4>
    <%= @article.text %><br><br>
    <%= button_to "Edit Article", edit_article_path(@article.id), method: :get %><br>
    <%= button_to "Delete Article", "/articles/#{@article.id}", method: :delete, data: { confirm: "Are you sure?" } %><br>
  <% else %>
    <h1><%= @article.author.username %>'s Article</h1><br>
    <h4><%= @article.title %></h4>
    <%= @article.text %><br><br>
  <% end %>
<% else %>
  <h1><%= @article.author.username %>'s Article</h1><br>
  <h4><%= @article.title %></h4>
  <%= @article.text %>
<% end %>
<br><br>
<%= button_to "Home", '/', method: :get %>