<div class="art-image" style="background-image: url(<%= rails_blob_url(@article.image) %>)">
  <h2><%= @article.category.name %></h2>
  <h1><%= @article.title %></h1>
</div>
<div class="art-container container">
  <p><%= @article.text %></p>
  <p>Written by <%= @article.author.username %></p>
  <% if logged_in? %>
    <%= link_to like_article_path(@article), class: "like", method: :put do %>
      <button type="button" class="btn btn-info" aria-label="Left Align">
        <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
        <span class="badge"><%= @article.get_upvotes.size %></span>
      </button>
    <% end %>

    <%= link_to unlike_article_path(@article), class: "like", method: :put do %>
      <button type="button" class="btn btn-info" aria-label="Left Align">
        <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
        <span class="badge"><%= @article.get_downvotes.size %></span>
      </button>
    <% end %>
  <% end %>
  <% if current_user == @article.author %>
    <%= link_to 'Edit Article', edit_article_path, class: "btn btn-default" %>
    <%= link_to 'Delete Article', "/articles/#{@article.id}", class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</div>
