<h1>This is the Homepage</h1>

<% if logged_in? %>
  <h4><%= current_user.username %></h4>
  <br>
  <%= button_to "User", welcome_path, method: :get %>
  <br>
  <%= button_to "Articles", articles_path, method: :get %>
  <br>
  <%= button_to "New Article", new_article_path, method: :get %>
  <br>
  <%= button_to "Logout", '/logout', method: :delete %>
<% else %>
  <br>
  <%= button_to "Articles", articles_path, method: :get %>
  <br>
  <%= button_to "Sign Up", new_user_path, method: :get %>
  <br>
  <%= button_to "Login", login_path, method: :get %>
<% end %>
