<% if logged_in? %>
  <h1>You already Logged as: <%= current_user.username %></h1>
  <br>
  <%= button_to "Logout", '/logout', method: :delete %>
  <br>
  <%= button_to "New Article", '/articles/new', method: :get %>
<% else %>
  <h1>Sign Up</h1>
  <br>
  <%= form_with model:@user, method: 'post' do |f| %>
    <%= label(:user, :username) %>
    <br>
    <%= f.text_field :username %>
    <br><br>
    <%= label(:user, :password) %>
    <br>
    <%= f.password_field :password %>
    <br><br>
    <%= f.submit "Create" %>
  <% end %>
<% end %>
<br>
<%= button_to "Home", '/', method: :get %>
