<div class="category-container">
  <div class="category-container-item">
    <% if first_article != nil %>
    <div class="category-container-item-img" style="background-image: url(<%= rails_blob_url(first_image) %>)"></div>
    <div class="category-container-item-content">
      <h3><%= link_to "#{first_title}", article_path(first_id) %></h3>
      <p><%= link_to "#{first_text}", article_path(first_id) %></p>
    </div>
    <% end %>
  </div>
  <div class="category-container-item">
    <% if second_article != nil %>
    <div class="category-container-item-img" style="background-image: url(<%= rails_blob_url(second_image) %>)"></div>
    <div class="category-container-item-content">
      <h3><%= link_to "#{second_title}", article_path(second_id) %></h3>
      <p><%= link_to "#{second_text}", article_path(second_id) %></p>
    </div>
    <% end %>
  </div>
  <div class="category-container-item">
    <% if third_article != nil %>
    <div class="category-container-item-img" style="background-image: url(<%= rails_blob_url(third_image) %>)"></div>
    <div class="category-container-item-content">
      <h3><%= link_to "#{third_title}", article_path(third_id) %></h3>
      <p><%= link_to "#{third_text}", article_path(third_id) %></p>
    </div>
    <% end %>
  </div>
  <div class="category-container-item">
    <% if fourth_article != nil %>
    <div class="category-container-item-img" style="background-image: url(<%= rails_blob_url(fourth_image) %>)"></div>
    <div class="category-container-item-content">
      <h3><%= link_to "#{fourth_title}", article_path(fourth_id) %></h3>
      <p><%= link_to "#{fourth_text}", article_path(fourth_id) %></p>
    </div>
    <% end %>
  </div>
</div>
