<div class="category-container">
  <div class="category-container-item">
    <% if cat_order(@category).first != nil %>
    <div class="category-container-item-img" style="background-image: url(<%= rails_blob_url(cat_order(@category).first.image) %>)"></div>
    <div class="category-container-item-content">
      <h3><%= link_to "#{cat_order(@category).first.title}", article_path(cat_order(@category).first.id) %></h3>
      <p><%= link_to "#{cat_order(@category).first.text.truncate(450, separator: ' ')}", article_path(cat_order(@category).first.id) %></p>
    </div>
    <% end %>
  </div>
  <div class="category-container-item">
    <% if cat_order(@category).second != nil %>
    <div class="category-container-item-img" style="background-image: url(<%= rails_blob_url(cat_order(@category).second.image) %>)"></div>
    <div class="category-container-item-content">
      <h3><%= link_to "#{cat_order(@category).second.title}", article_path(cat_order(@category).second.id) %></h3>
      <p><%= link_to "#{cat_order(@category).second.text.truncate(450, separator: ' ')}", article_path(cat_order(@category).second.id) %></p>
    </div>
    <% end %>
  </div>
  <div class="category-container-item">
    <% if cat_order(@category).third != nil %>
    <div class="category-container-item-img" style="background-image: url(<%= rails_blob_url(cat_order(@category).third.image) %>)"></div>
    <div class="category-container-item-content">
      <h3><%= link_to "#{cat_order(@category).third.title}", article_path(cat_order(@category).third.id) %></h3>
      <p><%= link_to "#{cat_order(@category).third.text.truncate(450, separator: ' ')}", article_path(cat_order(@category).third.id) %></p>
    </div>
    <% end %>
  </div>
  <div class="category-container-item">
    <% if cat_order(@category).fourth != nil %>
    <div class="category-container-item-img" style="background-image: url(<%= rails_blob_url(cat_order(@category).fourth.image) %>)"></div>
    <div class="category-container-item-content">
      <h3><%= link_to "#{cat_order(@category).fourth.title}", article_path(cat_order(@category).fourth.id) %></h3>
      <p><%= link_to "#{cat_order(@category).fourth.text.truncate(450, separator: ' ')}", article_path(cat_order(@category).fourth.id) %></p>
    </div>
    <% end %>
  </div>
</div>
